html {
    font-size:100%;
    overflow-y:scroll;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}

.logo {
    max-height:40px
}

body {
    color:var(--fg);
    font-family:'Inter', sans-serif;
    font-size:16px;
    word-break:break-word;
    line-height:1.5em;
    padding:1em;
    margin:auto;max-width:52em;
    background:var(--bg)
}

p {
    margin:1em 0
}

img {
    max-width:100%
}

h1,h2,h3,h4,h5,h6 {
    font-weight:600;
    color:var(--fg);
    line-height:1em
}

h4,h5,h6 {
    font-weight:bold
}

h1 {
    font-size:1.5em
}

h2 {
    margin:2em 0 1em;
    font-size:1.2em
}

h3 {
    font-size:1em
}

h4 {
    font-size:0.9em
}

h5 {
    font-size:0.9em
}

h6 {
    font-size:0.9em
}

blockquote {
    color:var(--fg);
    margin:0;
    padding-left:3em;
    border-left:0.5em var(--dark_grey) solid
}

pre,code,kbd,samp {
    font-family:'Fira Code', monospace;
    font-size:0.98em
}

pre {
    background-color:unset !important
}

code {white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word;
    background:var(--code_bg);
    color:var(--code_fg);
    padding:3px;
    border-radius:5px
}

pre>code {
    display:block;
    padding:10px 15px
}

b,strong {
    font-weight:bold
}

dfn {
    font-style:italic
}

sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}

sup {
    top:-0.5em
}

sub {
    bottom:-0.25em
}

ul,ol {
    margin:1em 0;
    padding:0 0 0 2em
}

li p:last-child {
    margin:0
}

dd {
    margin:0 0 0 2em
}

img {
    border:0;
    -ms-interpolation-mode:bicubic;
    vertical-align:middle
}

table {
    border-collapse:collapse;
    border-spacing:0
}

td {
    vertical-align:top
}

nav ul {
    margin:0;
    padding:0;
    list-style-type:none;
    overflow:hidden
}

nav ul.links {
    display:flex;
    flex-direction:row
}

li.icons {
    padding-left:9px
}

li.icons a {
    display:inline-block
}

nav ul li {
    display:inline-block;
    list-style-type:none
}

nav>div>ul>li>a {
    color:var(--fg) !important;
    display:block;
    line-height:2em;
    padding:0.5em 0em;
    text-decoration:none
}

nav>div {
    display:flex;
    align-items:center;
    flex-direction:row-reverse
}

nav>div.nav-right>ul>li>a {
    padding:0.5em 0.5em
}

nav>div>ul>li>a:hover {
    color:var(--fg) !important
}

.nav-left {
    float:left
}

.nav-left ul li {
    float:left
}

.nav-right ul li,.nav-right ul {
    float:right
}

.logo {
    margin-right:0.5em
}

div.container img {
    margin:1em 0
}

p.date {
    font-size:13px;
    color:var(--fg)
}

ul.articles {
    list-style:none;
    padding:0
}

ul.articles li {
    padding-bottom:10px
}

footer {
    display:flex;
    justify-content:space-between;
    font-size:13px
}