/* Box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Document */
body {
  margin: 0;
}

/* Text content */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Media */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Form controls */
button,
input,
textarea,
select {
  font: inherit;
}
